<h1>Enter flickr id:</h1>
<%= form_for "/", {method: "get"} do |f| %>
	<%= f.text_field :id %>
	<%= f.submit "SUBMIT" %>
<% end %>

<ul>
	<%= @photos.each do |photo| %>
		<li><img src="<%= photo.photo_url%>"style="width: 150px;height: 100px;"></li>
	<% end %>
</ul>